<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="general-style.css"/>
		<link rel="stylesheet" href="login-style.css"/>
        <link rel="stylesheet" href="../static/general-style.css"/>
		<link rel="stylesheet" href="../static/login-style.css"/>
        <title>Pay My Buddy</title>
    </head>

    <body>
    <form class="login_section" th:action="@{/register}" method="post" th:object="${userForm}">
        <span class="paymybuddy" style="display:block; margin: auto; margin-top: 40px; margin-bottom: 40px;">Pay My Buddy</span>

        <input type="text" class="form_input" placeholder="First name" name="firstName" th:value="${userForm.firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="spanerror">First name error</span>

        <input type="text" class="form_input" placeholder="Last name" name="lastName" th:value="${userForm.lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="spanerror">Last name error</span>

        <input type="text" class="form_input" placeholder="Email" name="email" th:value="${userForm.email}"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="spanerror">Email error</span>

        <input type="password" class="form_input" placeholder="Password" name="password"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="spanerror">Password error</span>

        <input type="password" class="form_input" placeholder="Password confirmation" name="password_confirm"/>
        <span th:if="${#fields.hasErrors('password_confirm')}" th:errors="*{password_confirm}" class="spanerror">Password error</span>

        <input type="submit" class="btn_submit bgcolor_blue" style="margin-top: 40px;" value="Register"/>
    </form>
        
    </body>
</html>