<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/general-style.css"  th:href="@{general-style.css}"/>
        <link rel="stylesheet" href="../static/header-style.css" th:href="@{header-style.css}"/>
        <link rel="stylesheet" href="../static/transfer-style.css" th:href="@{transfer-style.css}"/>
        <title>Transfer</title>
    </head>
    <body>
        <header th:insert="header :: header"></header>
        <section class="section firstsection">
            <div id="send_money_header">
                <span>Send Money</span>
            </div>
            <div id="send_money_content" class="bgcolor_grey">
                <form id="send_money_content_inputs" th:action="@{/transfer}" method="post">
                    <select class="send_money_textinput" name="connections" form="send_money_content_inputs">
                        <option value="">Select a contact</option>
                        <option th:each="user : ${user.contacts}" th:value="${user.email}" th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
                    </select>
                    <input type="number" class="send_money_textinput" placeholder="Amount" min="1" name="amount"/>
                    <input type="text" class="send_money_textinput" placeholder="Description" name="description"/>
                    <input type="submit" class="btn_submit bgcolor_green" value="Pay"/>
                    <span th:if="${error != null}" th:text="${error}" class="spanerror" style="padding:15px;"></span>
                </form>
            </div>
        </section>
        <section id="transaction">
            <div id="transaction_header">
                <span>My Transactions</span>
            </div>
            <table id="transaction_table" class="table">
                <tr>
                    <th>Contact</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                <tr th:each="transfer : ${transfers}">
                    <td th:utext="${transfer.recipient.firstName + ' ' + transfer.recipient.lastName}"></td>
                    <td th:utext="${transfer.description}"></td>
                    <td th:utext="${transfer.amount}"></td>
                </tr>
                
            </table>
            <div id="page_selection" th:if="${transferTotalPages} &gt; 1">
                    <a th:href="@{/transfer?page=0}">«</a>
                    <th:block th:each="i: ${#numbers.sequence(0, transferTotalPages - 1)}">
                        <a th:href="@{/transfer?page={p}(p=${i})}" th:text="${i + 1}"></a>
                    </th:block>
                    <a th:href="@{/transfer?page={tp}(tp=${transferTotalPages})}">»</a>
            </div>
        </section>
    </body>
</html>