.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-author {
  font-size: 13px;
  font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}
.be-comment-actions{
  text-align: right;
}
.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}
.be-comment-time a {
  text-decoration: none;
  margin-left: 5px;
  border: 1px solid #edeff2;
  border-radius: 15%;
  padding: 2px;
}

.be-comment-time a:hover {
  background: #f6f6f7;
  cursor:pointer;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
}
