<div class="container">


  <button class="btn btn-secondary" routerLink="/patient">Back</button>
  <h5>Patient Details</h5>

  <div class="row align-items-start">
    <div class="col" id="details">
      <dl class="row">
        <dt class="col-sm-3">First Name:</dt>
        <dd class="col-sm-9">{{patient!.firstName}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Last Name:</dt>
        <dd class="col-sm-9">{{patient!.lastName}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Address:</dt>
        <dd class="col-sm-9">{{patient!.address}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Phone:</dt>
        <dd class="col-sm-9">{{patient!.phone}}</dd>
      </dl>
    </div>
    <div class="col">
      <dl class="row">
        <dt class="col-sm-3">Birthday:</dt>
        <dd class="col-sm-9">{{patient!.dateOfBirth}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Age:</dt>
        <dd class="col-sm-9">{{patientAssessDto!.age}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Sex:</dt>
        <dd class="col-sm-9">{{patient!.sex}}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Diabetes risk:</dt>
        <dd class="col-sm-9">{{patientAssessDto!.riskLevel}}</dd>
      </dl>
    </div>
  </div>
  <form class="form-block" [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <h5>Add note</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group fl_icon">
          <div class="icon"><i class="fa fa-user"></i></div>
          <input class="form-input" type="text" placeholder="Your name" formControlName="author">
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <textarea class="form-input" required="" placeholder="Your note" formControlName="note"></textarea>
        </div>
      </div>

    </div>
    <button *ngIf="!isEditing" class="btn btn-primary" type="submit" [disabled]="noteForm.invalid || ! noteForm.touched">Submit</button>
    <button *ngIf="isEditing" class="btn btn-primary" type="submit" [disabled]="noteForm.invalid || ! noteForm.touched">Save</button>
    <button *ngIf="isEditing" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
  </form>

  <h5 *ngIf="notes && notes.length">Notes</h5>
  <app-patient-note *ngFor="let note of notes" [note]="note"></app-patient-note>
</div>
