<table class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Sex</th>
      <th scope="col">Birthday</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Phone</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients" [id]="patient.id">
      <td>{{patient.firstName}}</td>
      <td>{{patient.lastName}}</td>
      <td>{{patient.sex}}</td>
      <td>{{patient.dateOfBirth}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.city}}</td>
      <td>{{patient.phone}}</td>
      <td>
        <button type="button" class="btn btn-success"(click)="onDetails(patient.id)">Notes</button>
        <button type="button" class="btn btn-warning" (click)="onEdit(patient.id)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="onDelete(patient.id)">Delete</button>

      </td>
    </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-primary" routerLink="/patientForm">Add patient</button>
</div>
