<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Sex</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Phone</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients" [id]="patient.id">
      <th scope="row" >{{patient.id}}</th>
      <td>{{patient.firstName}}</td>
      <td>{{patient.lastName}}</td>
      <td>{{patient.sex}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.city}}</td>
      <td>{{patient.phone}}</td>
      <td>
        <span><button type="button" class="btn btn-warning">Edit</button></span>
        <span><button type="button" class="btn btn-danger">Delete</button></span>
        <span><button type="button" class="btn btn-info" routerLink="note">Note</button></span>
      </td>
    </tr>
  </tbody>
</table>