<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="general-style.css"/>
		<link rel="stylesheet" href="login-style.css"/>
        <link rel="stylesheet" href="../static/general-style.css"/>
		<link rel="stylesheet" href="../static/login-style.css"/>
        <title>Pay My Buddy</title>
    </head>
    <body>
        <div class="login_section">
            <span>Register success, <a th:href="@{/login}">click here to login</a></span>
        </div>
    </body>
</html>
